.AdminUser {
  background: url('../images/AdministrarGeneral.jpg') no-repeat center center/cover;
}
.AdminMaterials{
  background: url('../images/AdministrarAluminio.jpg') no-repeat center center/cover;
}
.AdminDescuent {
  background: url('../images/AdministrarDescuentos.jpg') no-repeat center center/cover;
}
.AdminLine {
  background: url('../images/AdministrarLineas.jpg') no-repeat center center/cover;
}
.AdminGeneal {
    background: url('../images/AdministrarMateriales.jpg') no-repeat center center/cover;
}
