.blue-light-filter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0.1); /* Ajusta la opacidad según sea necesario */
    pointer-events: none; /* Permitir la interacción con la pantalla */
    z-index: 9999;
    mix-blend-mode: multiply; /* Asegura que el filtro se vea */
}
