.advanced-filter-form {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    width: 700px;

}


input, select {
    width: 140%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background: black;
    color: white;
    text-align: center;
}
.p-button.p-button-icon-only {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3f9e9e;
    border: none;
    margin-top: 10px;
}
.advanced-filters-menu {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.advanced-filters-toggle {
    background: #3f9e9e;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.2s;
}

.advanced-filters-toggle:hover {
    background: #2b7a7a;
}
.date-range-row {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
}
.date-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 180px;
}
.filter-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0.7rem;
    gap: 1rem;
}
@media (max-width: 768px) {
    .dashboard-container {
        padding: 0 2vw;
    }
    .title {
        font-size: 22px;
        margin-top: 1rem;
        margin-bottom: 12px;
    }
    .quote-container, .quote-card {
        width: 100%;
        padding: 10px;
        font-size: 15px;
    }
    
}

@media (max-width: 480px) {
    .title {
        font-size: 16px;
    }
    .quote-card {
        font-size: 13px;
        padding: 6px;
    }
}

