.nav-links {
    background-color: #080808; /* Fondo más oscuro */
    padding: 20px 30px;
    border-radius: 20px;
    display: flex;
    margin: 0 auto;
    position: relative;
    z-index: 4;
    justify-content: space-between;
    width: 25%;
    margin-right: 14rem;
    margin-left: 0;
}

.nav-linksF {
    position: fixed; /* Fijo en la pantalla */
    top: 2rem; /* Ajusta según sea necesario */
    left: 50%; /* Centrado horizontalmente */
    width: 35%; /* Ancho del 25% */
    min-width: 35%; /* Ancho completo */
    transform: translateX(-50%); /* Centrado horizontalmente */
    background-color: rgba(0, 0, 0, 0.815); /* Fondo más oscuro */
    display: flex;
    justify-content: space-between;
    border: #00FFFF 1px solid;
}

.dashboard-header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.dashboard-header nav a.active {
    color: #00FFFF; /* Color celeste para la página actual */
    border-bottom: 2px solid #00FFFF; /* Línea inferior celeste */
}

.menu {
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.menu-icon {
    width: 40px;
    height: 40px;
}

/* Dropdown */
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    min-width: 160px;
    text-align: left;
    z-index: 100;
}

.admin-menu .dropdown-menu {
    position: absolute;
    top: 40px;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    padding: 10px;
    min-width: 200px;
    z-index: 100;
}

.admin-menu .dropdown-menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.admin-menu .dropdown-menu a:hover {
    background-color: #00FFFF;
    color: black;
}
.menu-button2 {
 margin: 0;
 padding: 0 10px 0px 0;
 background: none;
 color: white;
 font-weight: 200;
 margin: 0;
}
.menu-button2:hover {
    background: none;
   }
.dropdown-menu button {
    font-family: 'Poppins', sans-serif;
}

/* Usuario */
.user-text {
    font-weight: bold;
    margin-bottom: 8px;
}

/* Filtro */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.toggle-label {
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(14px);
}
