/* Firefox */
html {
    scrollbar-width: normal; /* Ancho fino */
    scrollbar-color: #3f3d3d #1d1d1d; /* Colores personalizados */
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: normal; /* Ancho de la barra */
}

::-webkit-scrollbar-track {
    background: #1d1d1d; /* Color del fondo */
}

::-webkit-scrollbar-thumb {
    background: #3f3d3d; /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background: #6e6e6e; /* Color al pasar el mouse */
}
